.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: #101010;
}

.register-form {
  background-color: #1f1f1f;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
  color: white;
  display: flex;
  flex-direction: column;
  width: 500px;
  max-width: 90%;
}

.register-form h2 {
  margin-bottom: 20px;
  text-align: center;
}

.register-form input {
  margin-bottom: 15px;
  padding: 20px;
  border: none;
  border-radius: 8px;
  background-color: #333;
  color: white;
}

.register-form button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.register-form button:hover {
  background-color: #0056b3;
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
}

.password-field input {
  flex: 1;
  padding-right: 35px;
}

.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}
